
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;	
}
body{
	display: flex;
	min-height: 100vh;	
}
.bloque {
    position: absolute;
    top: 0;
    left: 20%;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 2em;
    display: flex;   
}
.side{
    position: absolute;
    width: 100%;
}
.publicar {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 3em;
  width: 50%;

 
}
.subloque{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 3em;
  
}

.unaVez option:first-child{
  display: none;
}
.paginador ul{
  padding: 15px;
  list-style: none;
  background: #FFF;
  margin-top: 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -0o-flex;
  display: flex;
  justify-content: flex-end;
}
.paginador a, .pagina{
  color: #428BCA;
  border: 1px solid #DDD;
  padding: 5px ;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  width: 35px;
  text-decoration:none;
}
.paginador a:hover{
  background: #DDD;
}
.pagina{
  color: #FFF;
  background: #428BCA;
  border: 1px solid #428BCA;
}
.prevPhoto {
  display: flex;
  justify-content: space-between;
  width: 160px;
  height: 150px;
  border: 1px solid #CCC;
  position: relative;
  cursor: pointer;
  background: url(../images/uploads/user.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
}
.prevPhoto label{
cursor: pointer;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 2;
}
.prevPhoto img{
width: 100%;
height: 100%;
}
.upimg, .notBlock{
display: none !important;
}
.errorArchivo{
font-size: 16px;
font-family: arial;
color: #cc0000;
text-align: center;
font-weight: bold; 
margin-top: 10px;
}
.delPhoto{

display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
width: 25px;
height: 25px;

position: absolute;
right: -10px;
top: -10px;
z-index: 10;
}
#tbl_list_productos img{
width: 50px;
}
.imgProductoDelete{
width: 175px;
}
/* Estilo para la imagen en lista de productos */

.imagen img{
 
  width: 80px;
  height: auto;
}
/* Estilo modal */
.modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.50);
  display: none;
}
.modal h3{
  color: #A04835;
  text-transform: uppercase;
}
.modal h4{
  text-transform: uppercase;
}
.cuerpoModal{
  margin: auto;
	width: 95%;
	padding: 30px;
  max-width: 420px;
  background: #fff;
  justify-content: center;
  align-items: center;
}
#form_add_product, #form_del_product{
  text-align: center;
}
/*============ Ventas ============*/
.datos_cliente, .datos_venta, .title_page{
	width: 100%;
	max-width: 900px;
	margin: auto;
	margin-bottom: 20px;
}
#detalle_venta tr{
	background-color: #FFF !important;
}
#detalle_venta td{
	border-bottom: 1px solid #CCC;
}
.datos{
	background-color: #e3ecef;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #78909C;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.action_cliente{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.datos label{
	margin: 5px auto;
}
.wd20{
	width: 20%;
}
.wd25{
	width: 25%;
}
.wd30{
	width: 30%;
}
.wd40{
	width: 40%;
}
.wd60{
	width: 60%;
}
.wd100{
	width: 100%;
}
#div_registro_cliente, #add_product_venta{
	display: none;
}
.displayN{
	display: none;
}
.tbl_venta{
	max-width: 900px;
	margin: auto;
}
.tbl_venta tfoot td{
	font-weight: bold;
}
.textright{
	text-align: right;
}
#iz{
	text-align: right;
}
.textcenter{
	text-align: center;
}
.textleft{
	text-align: left;
}
.btn_anular{
	background-color: #f36a6a;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 0 3px;
	color: #FFF;
}
.table_color{
  background-color: #e3ecef;
}
